{% load static %}

{% for trueque in trueques %}
{%if trueque.estado == 1%}  {#solicitado#} 
<div class="card d-flex mb-3 ms-4 ">
{%elif trueque.estado == 2%}  {#pendiente#} 
<div class="card d-flex mb-3 ms-4 border border-2 bg-warning border-warning bg-opacity-10">
{%endif%}
    <div class="row p-2" style="height:230px;">
        <div class="container col-lg-5 d-flex m-auto mh-100">
            <div class="col-lg-5 d-flex flex-column align-items-center justify-content-center ">
                <a href="{% url 'detalle_producto' trueque.producto_solicitado.id%}" class="d-flex" style="height:190px;">
                    <img src="{{trueque.producto_solicitado.imagen.url}}" alt="Tu producto" class="img-fluid rounded mh-100 m-auto  border  
                    {%if trueque.estado == 1%}{#solicitado#}border-dark
                    {%elif trueque.estado == 2%}{#pendiente#}border-warning
                    {%endif%}
                    ">
                </a>
                <small class="text-muted">Tu producto</small>
            </div>
            <div class="col-lg-2 d-flex my-auto">{#icono#}
                {%if trueque.estado == 2 %}
                <span class="material-symbols-outlined mx-auto text-warning">sync_problem</span>
                {%elif trueque.estado > 4%}
                <span class="material-symbols-outlined mx-auto text-danger">sync_disabled</span>
                {%else%}
                <span class="material-symbols-outlined mx-auto 
                {%if trueque.estado == 4 %}text-success{%endif%}">sync</span>
                {%endif%}
            </div>
            <div class="col-lg-5 d-flex flex-column align-items-center justify-content-center">
                <a href="{% url 'detalle_producto' trueque.producto_solicitante.id%}" class="d-flex" style="height:190px;">
                    <img src="{{trueque.producto_solicitante.imagen.url}}" alt="{{trueque.producto_solicitante.usuario.first_name}} producto" class="img-fluid rounded mh-100 m-auto  border  
                    {%if trueque.estado == 1%}{#solicitado#}border-dark
                    {%elif trueque.estado == 2%}{#pendiente#}border-warning
                    {%endif%}
                    ">
                </a>
                <small class="text-muted">{{trueque.producto_solicitante.usuario.first_name}}</small>
            </div>
        </div>
        <div class="card-body col-lg-7 d-flex flex-column justify-content-around">
            <h4 class="card-title"><a href="#" class="text-decoration-none text-reset">Intercambiar {{trueque.producto_solicitante.nombre|striptags|truncatechars:40}} por {{trueque.producto_solicitado.nombre|striptags|truncatechars:40}}</a> </h4>

            {%if trueque.estado == 1%}
            <p class="card-title text-muted">SOLICITADO: {{trueque.producto_solicitante.usuario.first_name|title}} está esperando tu respuesta.</p>
            {%elif trueque.estado == 2%} 
            <p class="card-title text-warning fw-medium">PENDIENTE: Aceptaste otro intercambio por tu {{trueque.producto_solicitado.nombre|capfirst}}. Si cancelas el <a class="text-reset" href="{%url 'trueques_por_concretar'%}">intercambio vigente</a> podrás aceptar esta solicitud.</p>
            {%endif%}

            <p class="card-text">
                Recibiste una solicitud de {{trueque.producto_solicitante.usuario.first_name|title}} para intercambiar su <a href="{% url 'detalle_producto' trueque.producto_solicitante.id%}" class="text-decoration-none text-reset">{{trueque.producto_solicitante.nombre}}</a> por tu {{trueque.producto_solicitado.nombre}}.
            </p>
            <span class="card-text d-flex">
                <div class="d-flex flex-column me-auto">
                    <small class="fw-light"><b>Sucursal</b>: {{trueque.sucursal}}</small>
                    <small class="fw-light"><b>Fecha</b>: {{trueque.fecha_programada|date:'l j \d\e F, Y'|capfirst}}</small>
                    <small class="fw-light"><b>Horario</b>: {{trueque.get_horario_display}}</small>
                </div>
                <div class="d-flex align-items-end justify-content-end">
                    
                {%if trueque.estado != 2%}
                <form method="POST" action="{% url 'aceptar-solicitud' trueque.id %}" class="">
                    {% csrf_token %}
                    <button class="btn btn-success " type="submit">Aceptar</button>
                </form>
                {%endif%}

                <div class="btn-group mx-2">                    
                    <button class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Rechazar
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item w-100 h-100 rechazar-trueque" 
                                data-bs-toggle="modal" data-bs-target="#modal-interes"
                                data-trueque-id="{{ trueque.id }}" data-motivo-rechazo="2">
                                Falta de interés en el producto ofrecido
                            </button>                          
                        </li>
                        <li>
                            <button class="dropdown-item w-100 h-100 rechazar-trueque" 
                                data-bs-toggle="modal" data-bs-target="#modal-interes"
                                data-trueque-id="{{ trueque.id }}" data-motivo-rechazo="3">
                                Falta de disponibilidad en el horario solicitado
                            </button>    
                        </li>
                        <li>
                            <button class="dropdown-item w-100 h-100 rechazar-trueque" 
                                data-bs-toggle="modal" data-bs-target="#modal-interes"
                                data-trueque-id="{{ trueque.id }}" data-motivo-rechazo="4">
                                Falta de disponibilidad en la fecha solicitada
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item w-100 h-100 rechazar-trueque" 
                                data-bs-toggle="modal" data-bs-target="#modal-interes"
                                data-trueque-id="{{ trueque.id }}" data-motivo-rechazo="5">
                                Otros motivos
                            </button>
                        </li>
                    </ul>
                </div>
                
            </span>
        </div>
    </div>
</div>
</div>

{%endfor%}

<!-- Modals -->
<div class="modal fade" id="modal-interes" tabindex="-1" role="dialog" 
    aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-static" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro de rechazar el trueque?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id=bodyModal></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="rechazarTrueque()">Rechazar la solicitud</button>
            </div>
        </div>
    </div>  
</div>

{% block scripts %}
<script>
    var truequeId = null;
    var motivoRechazo = null;
    var urlRechazo, motivo;

    document.addEventListener('DOMContentLoaded', function () {
        var buttons = document.querySelectorAll('.rechazar-trueque');
        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                truequeId = this.getAttribute('data-trueque-id');
                motivoRechazo = this.getAttribute('data-motivo-rechazo');
                console.log(motivoRechazo)
                if (motivoRechazo==2){
                    urlRechazo = "/rechazar-solicitud-interes/";
                    motivo = 'falta de interes en el producto ofrecido'
                }
                else if (motivoRechazo == 3) {
                    urlRechazo = "/rechazar-solicitud-horario/";
                    motivo = 'falta de disponibilidad en el horario solicitado'
                }
                else if (motivoRechazo == 4) {
                    urlRechazo = "/rechazar-solicitud-fecha/";
                    motivo = 'falta de disponibilidad en la fecha solicitada'
                }
                else {
                    urlRechazo = "/rechazar-solicitud-otros/";
                    motivo = 'otros motivos'
                }

                let preguntaModal = document.getElementById('bodyModal')
                preguntaModal.innerHTML= "<p>El rechazo es permante. <br/> ¿Quiere realmente rechazar la solicitud de trueque por " + motivo + "?</p>";
             
                
            });           
        });
       
    });

    function rechazarTrueque() {
        
        fetch(urlRechazo + truequeId + "/", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            //body: JSON.stringify({'trueque_id': truequeId})
        })
        .then(function (response) {
            if (response.ok) {
                console.log('Trueque rechazado exitosamente.');
                window.location.href = '{% url "trueques_entrantes" %}?mensaje=La solicitud se rechazo correctamente';
            } else {
                console.error('Error al rechazar el trueque. Código de estado: ' + response.status);
            }
        })
        .catch(function (error) {
            console.error('Error de red:', error);
        });
    }

</script>
{% endblock %}