{% load static %}

{% for trueque in trueques %}
{%if trueque.estado == 1%}  {#solicitado#} 
<div class="card d-flex mb-3 ms-4 ">
{%elif trueque.estado == 2%}  {#pendiente#} 
<div class="card d-flex mb-3 ms-4 border border-2 bg-warning border-warning bg-opacity-10">
{%endif%}
    <div class="row p-2" style="height:230px;">
        <div class="container col-lg-5 d-flex m-auto mh-100">
            <div class="col-lg-5 d-flex flex-column align-items-center justify-content-center ">
                <a href="{% url 'detalle_producto' trueque.producto_solicitante.id%}" class="d-flex" style="height:190px;">
                    <img src="{{trueque.producto_solicitante.imagen.url}}" alt="Tu producto" class="img-fluid rounded mh-100 m-auto  border  
                    {%if trueque.estado == 1%}{#solicitado#}border-dark
                    {%elif trueque.estado == 2%}{#pendiente#}border-warning
                    {%endif%}
                    ">
                </a>
                <small class="text-muted">Tu producto</small>
            </div>
            <div class="col-lg-2 d-flex my-auto">{#icono#}
                {%if trueque.estado == 2 %}
                <span class="material-symbols-outlined mx-auto text-warning">sync_problem</span>
                {%elif trueque.estado > 4%}
                <span class="material-symbols-outlined mx-auto text-danger">sync_disabled</span>
                {%else%}
                <span class="material-symbols-outlined mx-auto 
                {%if trueque.estado == 4 %}text-success{%endif%}">sync</span>
                {%endif%}
            </div>
            <div class="col-lg-5 d-flex flex-column align-items-center justify-content-center">
                <a href="{% url 'detalle_producto' trueque.producto_solicitado.id%}" class="d-flex" style="height:190px;">
                    <img src="{{trueque.producto_solicitado.imagen.url}}" alt="Tu producto" class="img-fluid rounded mh-100 m-auto  border  
                    {%if trueque.estado == 1%}{#solicitado#}border-dark
                    {%elif trueque.estado == 2%}{#pendiente#}border-warning
                    {%endif%}
                    ">
                </a>
                <small class="text-muted">{{trueque.producto_solicitado.usuario.first_name}}</small>
            </div>
        </div>
        <div class="card-body col-lg-7 d-flex flex-column justify-content-around">
            <h4 class="card-title"><a href="#" class="text-decoration-none text-reset">Intercambiar {{trueque.producto_solicitante.nombre|striptags|truncatechars:40}} por {{trueque.producto_solicitado.nombre|striptags|truncatechars:40}}</a> </h4>

            {%if trueque.estado == 1%}
            <p class="card-title text-muted">SOLICITADO: Esperando respuesta del solicitado.</p>
            {%elif trueque.estado == 2%} 
            <p class="card-title text-warning fw-medium">PENDIENTE: El producto al que solicitaste está considerando otro intercambio.</p>
            {%endif%}

            <p class="card-text">
                Enviaste una solicitud a {{trueque.producto_solicitado.usuario.first_name|title}} para intercambiar su <a href="{% url 'detalle_producto' trueque.producto_solicitado.id%}" class="text-decoration-none text-reset">{{trueque.producto_solicitado.nombre}}</a> por tu {{trueque.producto_solicitante.nombre}}.
            </p>
            <span class="card-text d-flex">
                <div class="d-flex flex-column me-auto">
                    <small class="fw-light"><b>Sucursal</b>: {{trueque.sucursal}}</small>
                    <small class="fw-light"><b>Fecha</b>: {{trueque.fecha_programada|date:'l j \d\e F, Y'|capfirst}}</small>
                    <small class="fw-light"><b>Horario</b>: {{trueque.get_horario_display}}</small>
                </div>
                <form method="POST" action="{% url 'cancelar_trueque' id=trueque.id estado=7 ret='s'%}" class="mt-auto">
                    {% csrf_token %}
                    <button class="btn btn-danger ms-auto " type="submit">Cancelar</button>
                </form>
            </span>
        </div>
    </div>
</div>

{%endfor%}