{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary py-0">
    <div class="container-fluid d-flex justify-content-between">
              
        <div class="col-5">
            {# BARRA DE BUSQUEDA #}
            <form class="d-flex my-2 ms-auto" action="{% url 'buscar_productos_trueques_programados'%}" method="GET">    
                <input class="form-control me-2" type="search" placeholder="Buscar trueques por productos o personas.." name="cadena" aria-label="Search">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>
        </div>
        <div class="col-7 d-flex justify-content-end">
            {# ELEMENTOS SELECCIONABLES #}
            {% with request.resolver_match.url_name as url_actual %} 
            {#esto sirve para comparar la url actual a cada url pattern definido en urls.py#}
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link {%if url_actual == 'home' %}active{%endif%} " href="{% url 'trueques_programados' %}">Truques de hoy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {%if url_actual == 'home' %}active{%endif%} " href="{% url 'trueques_concretados' %}">Trueques concretados</a>
                </li>
            </ul>
            {%endwith%}
        </div>
    </div>
</nav>