{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Empleados</title>
    <link rel="stylesheet" href="{% static 'path/to/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <h1>Listado de Empleados</h1>
        {% for empleado in empleados %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Nombre: {{ empleado.first_name }} Apellido: {{ empleado.last_name }}</h5>
                    <p class="card-text">Email: {{ empleado.email }}</p>
                    <div class="btn-group">
                        <form method="POST" action="{% url 'eliminar_empleado' empleado.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                        <a href="{% url 'modificar_empleado' empleado.id %}" class="btn btn-success">
                            Modificar
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'path/to/bootstrap.js' %}"></script>
</body>
</html>
{% endblock %}