venv
trueque_tools/__pycache__
tt_app/__pycache__
tt_app/migrations/__pycache__

__pycache__/
*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
__pycache__/