{#<!--ESTE PARTIAL RECIBE: "form","titulo", "boton" y "obligatorios" -->#}
{#<!--Y SE USA EN crear_producto, registro_cliente, registro_empleado, registro_administrador(?), ingreso -->#}
<div class="offset-lg-4 col-lg-4 ">
    <div class="card p-1">
        <form method="POST" class="card-body" enctype="multipart/form-data" novalidate>
            <h2 class="text-center display-6 mb-4 ">{{titulo}}</h2>
            {% csrf_token %}
            {#<!-- Iterar sobre cada campo(field) del formulario -->#}
            {% for field in form %}
                {{ field.label_tag }} 
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <small class="text-danger fw-medium"><p>{{ error }}</p></small> {#errores de los campos#}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {%if error%}<small class="text-danger fw-medium my-1"><p>{{error}}</p></small>{%endif%}     {#errores del formulario entero#}
            <button class="btn btn-primary fw-medium mt-2 w-100" type="submit">{{boton}}</button>
        </form>
    </div>
    {% if obligatorios%} <small class="text-muted fw-light mt-1">*: Este campo es obligatorio.</small> {%endif%}
</div>
{# para añadir clases al blue<label>: <label id="{{ field.auto_id }}" class="form-label TUSCLASES">{{ field.label }}</label> #}