{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="card ">
{% if producto.activo %}

<div class="row m-4">
    <span class="d-flex align-items-center mb-4 ">
        <h3 class="me-3">{{producto.nombre|capfirst}}</h3> 
        <div class="mx-2">
            <a href="#" class="badge badge-primary bg-primary text-decoration-none text-white me-1">Categoria {{producto.get_categoria_display}}</a>{#LINK A BUSQUEDA FILTRADA #}

            {% if producto.promocionado %}

                <a href="#" class="badge badge-primary bg-warning text-decoration-none text-dark">Promocionado</a>{#LINK A HU PROMOCIONAR UN PRODUCTO #}
            {% else %}

                <a href="#" class="badge badge-secondary bg-secondary text-decoration-none text-white">No promocionado</a>{#LINK A HU PROMOCIONAR UN PRODUCTO #}
            {% endif %}
        </div>
    </span>
    <div class="col-5 ">
        <div class="d-flex align-items-center justify-content-center w-100">
            {% if producto.imagen %}
            <img src="{{producto.imagen.url}}" alt="Imagen del producto" class="img-fluid border border-2 w-100" />
            {% else %}
            <img src="{%static 'images/default-image-missing.png'%}" alt="El producto no tiene imagenes" class="img-thumbnail" />
            {% endif %}
        </div>
    </div>
    <div class="col-7 d-flex flex-column ps-4 pe-0">
        <p class="mt-1">{{producto.descripcion|capfirst}}</p>
        <span class="d-flex mt-auto">
            <div class=" fw-light">
                <small>Sucursal del intercambio: {{producto.sucursal.ciudad}} - {{producto.sucursal.direccion}}</small><br>
                <small>Publicado por: {{producto.usuario.first_name}}</small><br>
                <small>Fecha de publicación: {{producto.fecha_de_publicacion|date:'l j \d\e F \d\e Y'|capfirst}} </small><br>
            </div>
            {%if producto.usuario != user%}
            {%if producto.disponible%}
            {%if producto.reservado%}
            <div class="d-flex flex-column justify-content-end align-items-center my-auto ms-auto">
                <button class="btn btn-secondary btn-lg" disabled>Solicitar intercambio</button>
                <small class="fw-light text-muted text-wrap opacity-75">Este producto está reservado de momento.</small>
            </div>
            {%else%}
            <a href="{% url 'solicitar' id=producto.id %}" class="btn btn-primary btn-lg my-auto ms-auto">Solicitar intercambio</a>
            {%endif%}
            {%endif%}
            {%endif%}
        </span>
    </div>
    {% if user.is_authenticated %}
        {% if not user == producto.usuario %}
            {% include 'productos/partials/formulario_de_pregunta.html' %}
        {% endif %}
    {% endif %}
    {% with preguntas.count as total_de_preguntas %}
        <h6 class="mt-4">
            {{ total_de_preguntas }} pregunta{{ total_de_preguntas|pluralize }}
        </h6>
    {% endwith %}
    {% for pregunta in preguntas.all %}
        <div class="preguntas card card-body">
            <p class="info">
                <strong>Pregunta de {{ pregunta.cliente.first_name }} - {{ pregunta.fecha }}</strong>
            </p>
            {{ pregunta.texto|linebreaks }}
            {% if pregunta.respuesta %}
                <div class="mx-4">{{ pregunta.respuesta.texto }}</div>
            {% else %}
                {% if user == producto.usuario %}
                    {% include 'productos/partials/formulario_de_respuesta.html' %}
                {% endif %}
            {% endif %}
        </div>
        {% empty %}
            <p class="text-muted">No hay preguntas</p>
    {% endfor %}
</div>
</div>
{% else %}
<h5 class=" p-6 text-center">
    Este producto ya no se encuentra disponible.
</h5> 
<p class=" p-2 text-center">
    <a href="{%url 'home'%}">Volver al inicio</a>
</p>
{% endif %}

{% endblock %}