{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container p-4 mb-3">
{% if producto.activo %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h3 class=" mb-6">
                    {{producto.nombre}}
                </h3> 
                <div class=" my-4">
                <span class="badge badge-primary bg-primary">
                    <a href="#" class="text-decoration-none text-white">Categoria {{producto.get_categoria_display}}</a>    {# AGREGAR LINK A BUSQUEDA FILTRADA #}
                </span>
                {% if producto.promocionado %}
                    <span class="badge badge-primary bg-warning">
                        <a href="#" class="text-decoration-none text-dark">Promocionado</a>    {# AGREGAR LINK A HU PROMOCIONAR UN PRODUCTO #}
                    </span>
                    {% else %}
                    <span class="badge badge-secondary bg-secondary">
                        <a href="#" class="text-decoration-none text-white">No promocionado</a>    {# AGREGAR LINK A HU PROMOCIONAR UN PRODUCTO #}
                    </span>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {% if producto.imagen %}
                <img src="{{producto.imagen.url}}" alt="Imagen del producto" class="img-fluid border border-2" />
                {% else %}
                <img src="{%static 'images/default-image-missing.png'%}" alt="El producto no tiene imagenes" class="img-thumbnail" />
                {% endif %}
            </div>
            <div class="col-md-7">
                <p>
                    {{producto.descripcion}}
                </p>
                <p>Sucursal de preferencia: {{producto.sucursal.ciudad}} - {{producto.sucursal.direccion}}</p>
                <p><small class="text-muted fw-light"> Publicado por: {{producto.usuario.first_name}}</small></p>
                <p><small class="text-muted fw-light"> Fecha de publicación: {{producto.fecha_de_publicacion|date:'l j \d\e F \d\e Y'}} </small></p>
            </div>
            {% include 'productos/includes/formulario_de_pregunta.html' %}
            {% with preguntas.count as total_de_preguntas %}
                <h2>
                    {{ total_de_preguntas }} pregunta{{ total_de_preguntas|pluralize }}
                </h2>
            {% endwith %}
            {% for pregunta in preguntas.all %}
                <div class="preguntas">
                    <p class="info">
                        Pregunta {{ forloop.counter }} de {{ pregunta.cliente.first_name }} {{ pregunta.fecha }}
                    </p>
                    {{ pregunta.texto|linebreaks }}
                </div>
                {% empty %}
                    <p>No hay preguntas.</p>
            {% endfor %}

        </div>
    </div>
</div>
{% else %}
<h5 class=" p-6 text-center">
    Este producto ya no se encuentra disponible.
</h5> 
<p class=" p-2 text-center">
    <a href="{%url 'home'%}">Volver al inicio</a>
</p>
{% endif %}
</div>

{% endblock %}