{% extends 'base.html' %}

{% block title %}Agregá tu consulta{% endblock %}

{% block content %}
    {% if pregunta %}
        <div class="container">
            <div class="row">
                <div class="card card-body">
                    <h4 class="display-6">Ya se envió tu pregunta al dueño del producto</h4>
                    <p><a href="{%url 'detalle_producto' producto.id%}">Volver al producto</a></p>
                    <p><a href="{%url 'home'%}">Volver al inicio</a></p>
                </div>
            </div>
        </div>
        {% else %}
            {% include 'productos/partials/formulario_de_pregunta.html' %}
        {% endif %}
{% endblock %}