{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    .card-register {
        width: 100%;
        max-width: 400px;
        padding: 15px;
        margin: auto;
    }

    .form-register input[type="email"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-register input[type="text"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-register input[type="password"] {
        margin-bottom: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card card-register">
            <div class="card-body">
                <form method="POST" >
                    {% csrf_token %}
                    <h1>Registrarse</h1>
                    <div class="mb-3">
                        <label class="mb-1">Correo electrónico *</label>
                        <input type="text" name="email" id="input" oninvalid="this.setCustomValidity('Tu email es obligatorio')" oninput="setCustomValidity('')"  class="form-control" placeholder="Ingresá tu correo electrónico" required="" autofocus>
                        {% if error in field.errors %}
                            <p style="color:red">{{ error }}</p>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label class="mb-1">Nombre *</label>
                        <input type="text" name="first_name" id="first_name" oninvalid="this.setCustomValidity('Tu nombre es obligatorio')" oninput="setCustomValidity('')" class="form-control mb-2" placeholder="Ingresá tu nombre" required="">
                    </div>

                    <div class="mb-3">
                        <label class="mb-1">Apellido *</label>
                        <input type="text" name="last_name" id="last_name" oninvalid="this.setCustomValidity('Tu apellido es obligatorio')" oninput="setCustomValidity('')" class="form-control mb-2" placeholder="Ingresá tu apellido" required="">
                    </div>

                    <div class="mb-3">
                        <label class="mb-1">DNI</label>
                        <input type="text" name="dni" id="dni" class="form-control mb-2" placeholder="Ingresá tu DNI">
                    </div>

                    <div class="mb-3">
                        <label class="mb-1">Teléfono</label>
                        <input type="text" name="phone" id="phone" class="form-control mb-2" placeholder="Ingresá tu número de teléfono">
                    </div>

                    <div class="mb-3">
                        <label class="mb-1">Fecha de Nacimiento</label>
                        <input type="date" name="birthdate" id="birthdate" class="form-control mb-2">
                    </div>

                    <div class="mb-3">
                        <label class="mb-1">Contraseña</label>
                        <input type="password" name="password1" id="password1" class="form-control mb-2" placeholder="Ingresá tu contraseña" required>
                    </div>

                    <div class="mb-3">
                        <label class="mb-1">Confirmar contraseña</label>
                        <input type="password" name="password2" id="password2" class="form-control mb-2" placeholder="Confirmá tu contraseña" required>
                    </div>

                    {% for field in registration_form %}
                    <p>
                    {% for error in field.errors %}
                    <p style="color:red">{{ error }}</p>
                    {% endfor %}
                    </p>
                    {% endfor %}
                    {% if registration_form.non_field_errors %}
                    <div style="color:red">
                        <p>{{ registration_form.non_field_errors }}</p>
                    </div>

                    {% endif %}

                    <button class="btn btn-primary" style="width: 100%;" type="submit">
                        <b>Registrarse</b>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}