{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Registrar empleado</h2>
        <form method="POST" class="card card-body" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <!-- Iterar sobre cada campo del formulario -->
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            
            <button class="btn btn-primary">
                <b>Aceptar</b>
            </button>
        </form>
    </div>
</div>
{% endblock %}
