{% if ventas %}

<table class="table table-hover table-striped">
    <thead>
    <tr class="table-primary">
        <th scope="col">Nombre del producto</th>
        <th scope="col">Cantidad de unidades</th>
        <th scope="col" class="text-end">Precio unitario</th>
        <th scope="col" class="text-end">Total</th>
    </tr>
    </thead>
    <tbody>
    {% for venta in ventas %}
        <tr>
            <th>{{venta.nombre_producto}}</th>
            <td>{{venta.cantidad_unidades}}</td>
            <td class="text-end">${{venta.precio_unitario}}</td>
            <td class="text-end">${{venta.get_total}}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <th colspan="3"></th>
        <th class="text-end">Total: ${{total}}</th>
    </tfoot>
</table>

<h5 class="fs-6 mb-2">Registró las ventas: {{ventas.0.vendedor.first_name|title}}</h5>
{#{% else %}<h3>No hay ventas agregadas</h3>#}
{% endif %}   