{% load static %}
<div class="row ">
    <div class="col-md-2 ">
        <div class="card card-body h-100 ">
            <div class="d-grid gap-1 col-6 p-1 mx-auto">
                <a class="btn btn-primary" href="{% url 'filtrar_productos' 1 %}">0-5</a>
                <a class="btn btn-primary" href="{% url 'filtrar_productos' 2 %}">5-10</a>
                <a class="btn btn-primary" href="{% url 'filtrar_productos' 3 %}">10+</a>
            </div> 
        </div>
    </div>
    <div class="col-md-10 ">
        {% include 'productos/partials/listado_productos.html'%}
    </div>
</div>