{% load static %}
{% for producto in productos %}
    {% if producto.activo %}
    {% if producto.promocionado %}
    <div class="card border border-2 border-warning mb-3"  >
    {% else %}
    <div class="card mb-3" >
    {% endif %}
        <div class="row g-0 p-2" style="height:200px;">
          <div class="col-lg-3 mh-100 d-flex mh-100" >
            <a href="{% url 'detalle_producto' producto.id%}" class="d-flex mx-auto align-items-center mh-100">
                <img src=
                "{% if producto.imagen %}
                {{producto.imagen.url}}{#testing %static 'images/200x200.png' %#}
                {% else %}
                {% static 'images/default-image-missing.png' %}
                {% endif %}" class="img-fluid rounded mh-100 ratio ratio-1x1" alt="img">
            </a>
          </div>
          <div class="col-lg d-flex">
            <div class="card-body d-flex flex-column justify-content-around">
                <div class="d-flex">
                    <h4 class="card-title flex-grow-1"><a href="{% url 'detalle_producto' producto.id%}" class=" text-decoration-none text-reset">{{producto.nombre|striptags|truncatechars:40}}</a></h4>
                    <span class="align-self-stretch">
                        {% if producto.promocionado %}
                        <a href="#" class="badge badge-primary bg-warning text-decoration-none text-dark">Promocionado</a>{# LINK A HU PROMOCIONAR UN PRODUCTO #}
                        {% endif %} 
                        <a class="badge badge-primary bg-primary text-decoration-none text-white">Categoria {{producto.get_categoria_display}}</a>  
                    </span> 
                </div>
                <div><p class="card-text">{{producto.descripcion|striptags|truncatechars:90}}</p></div>
                <div><p class="card-text"><small class="text-body-secondary">{{producto.fecha_de_publicacion|date:'d M Y'|upper}}</small></p></div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
{% endfor %}