{%extends 'base.html'%}

{% load static %}

{%block content%}

{% if productos %}
{#<a href="{% url 'home' %}" class="ms-4 mt-3 mb-5 text-start fw-light">Volver</a>  Link descartado #}
<h3 class="ms-4 mt-3 mb-5 text-start ">Se muestran todos los productos: </h3>
    {% include 'products/partial_listado_productos.html' %}

{% else %}
    <h5 class="my-3 text-center">
        No hay productos cargados aún.
    </h5> 
    <p class=" p-2 text-center">
        <a href="{%url 'home'%}">Volver al inicio</a>
    </p>
{% endif %}

{%endblock%}